.head-3 {
    padding-top: 3rem;
    color: black;
    margin-bottom: 3rem;
}

.flex-1 {
    margin: 3rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items {
    background-color: #B8001F;
    height: 5rem;
    width: 10rem;
}

.flex-2 {
    margin: 3rem;
    display: flex;
    gap: 1rem;
    
}

.item1 {    
    background-color: #22a39F;
    height: 5rem;
    flex: 1;
}
.item2 {
    background-color: #B8001F;
    height: 5rem;
    flex: 2;
}
.item3 {
    background-color: #507687;
    height: 5rem;
    flex: 3;
}
.item4 {
    
    background-color: #384B70;
    height: 5rem;
    flex: 4;}


.flex-3 {
    margin: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.item13 {    
    background-color: #22a39F;
    height: 5rem;
    flex: 1;
}
.item23 {
    background-color: #B8001F;
    height: 5rem;
    flex: 2;
}
.item33 {
    background-color: #384b70;
    height: 5rem;
    flex: 3;
}
.item43 {   
    background-color: #22a39f;
    height: 5rem;
    flex: 4;
}

.back-color {
    background-color: #222222;
    padding: 0.5rem;   
}
.box-1 {
    display: flex;
    margin: 0.5rem;
    gap: 1rem;    
}

.area-1 {
    flex: 3;
    background-color: #B8001F;
    height: 20rem;
}

.area-2{
    flex: 1;
    background-color: #22a39F;
    height: 20rem;
}    

.box-2 {
    display: flex;
    margin: 0.5rem;
    gap: 1rem;
}

.area-3 {
    width: 50%;
    background-color: #507687;
    height: 50rem;
}

.box-3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
    justify-content: right;
    
}

.area-4 {
    width: 65rem;
    background-color: #384B70;
    height: 24.5rem; 
    margin-bottom: 0.5rem;   
}

.area-5 {
    width: 65rem;
    background-color: #384B70;
    height: 24.5rem; 
    margin: 0.5rem 0;   
}

.grid-1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 0.5rem;
    gap: 0.5rem;
}

.g1 {
    background-color: #434242;
    width: 100%;
    height: 20rem;
    
}

.g2 {
    background-color: #22A39F;
    width: 100%;
    height: 20rem;
    gap: 0.5rem;
}

.box-grid-1 {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 75% 25%;
    
}
.g3 {
    background-color:black;
    width: 100%;
    height: 50rem;
    gap: 0.5rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 45% 55%;
    
}

.g3:nth-child(3) {
    grid-column: 1 / 3;
}

.g4 {
    background-color: #B8001F;
    width: 100%;
    height: 50rem;  
    grid-row: 1 / 3;    
}


.g5 {    
    background-color: #22a39F;
    width: 99.5%;
    height: 24.5rem;
        
}

.g6 {
    background-color: #284B70;
    width: 99.5%;
    height: 24.75rem;      
}

.g6 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

