/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

h1 {
    color: #384B70;
    text-align: center;
    font-size: 4.5rem;
}



h1 span {
    font-size: 2.5rem;
}

h1, h2, h3 {
    text-align: center;
    
}

h3 {
    color: #FCFAEE;
    font-size: 2.5rem;    
}

.cont-enlaces {
    background-color: #222222;
}
.enlaces {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #222222;
    text-align: center;
    width: 120rem;
    margin: 0 auto;
}

.enlaces a {
    text-decoration: none;
    color: #FCFAEE;
    font-weight: 900;
    width: 15rem;  
    padding: 1rem 0;      
}

.enlaces a:hover {
    background-color: #B8001F;
}

.background-image {
    background-image: url(../img/desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px; 
    background-position-y: center;   
}
.background-color {
    background-color: rgba(0, 0, 0, 0.267);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.profesion {
    margin: 0px;
    font-size: 3.5rem;
    color: #FCFAEE;
    padding: 3rem ;
}

p {
    display: inline-block;
    font-size: 2rem;
    color: #FCFAEE;
    text-align: center;
}

.boton {
    color: #FCFAEE;
    background-color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
}

.boton:hover {
    background-color: #B8001F;
}

.contenedor {
    margin: 3rem 15%; 
    background-color: #384B70;  
    height: 120rem;
    border-radius: 1.5rem;
    
}

.sombra {
    box-shadow: 10px 10px 15px 0px #222222;
    -webkit-box-shadow: 10px 10px 15px 0px #222222;
    -moz-box-shadow: 10px 10px 15px 0px #222222;
}



.servicios {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.servicios .iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8001F;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon {
    stroke: #FCFAEE;
    width: 84px;
    height: 84px;
}

.a-icon:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22A39F;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.formulario fieldset {
    border: none;
    height: 100%;
}

.formulario legend {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font: 600;
    margin-bottom: 2rem;
    color: #FCFAEE;
}

.contenedor-campos {
    margin: 1.5rem 12%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    gap: 15px;
}
.campo {
    color: #FCFAEE;
    font-size: 1.75rem;
}
.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1 / 3;    
}

.input-text {
    width: 100%;
    margin-top: 1.25rem;
    height: 45%;
}

.text-area {
    height: 75%;
}
.alinear-derecha {
    margin: 0 10%;
    text-align: right;    
}

.alinear-derecha .boton {
    border: none;
}
.footer {
    margin: 0 15%;
    background-color: #B8001F;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 15px 0px black;
    -webkit-box-shadow: 10px 10px 15px 0px black;
    -moz-box-shadow: 10px 10px 15px 0px black;
    padding: 0 25px;
    text-align: right;  
    height: 5rem;  
}
.footer p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.main-page a {
    text-decoration: none;
    
}

.a-main-page:hover {
    color: #B8001F;
}

.head-2{
    color: #FCFAEE;
    padding: 3rem ;
    font-size: 3.25rem;
}


.head-3{
    color: #FCFAEE;    
    font-size: 2.75rem;
}

.encabezado-java {
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado-java img {
    width: 10%;
    padding: 3rem 0;
}

.head-2{
    margin: 3rem 0;
}